language: ruby
cache:
- bundler
install:
- bundle install
rvm:
- 1.9.3
- 2.0
- 2.1
- 2.2
notifications:
  email:
    recipients:
    - sensu-plugin@sensu-plugins.io
    on_success: change
    on_failure: always
script:
- bundle exec rake default
- gem build sensu-plugins-openvpn.gemspec
- gem install sensu-plugins-openvpn-*.gem
deploy:
  provider: rubygems
  api_key:
    secure: c3FzsS7Yb0wkswWZ44TR2e0atvI3bFTMcVsa8RgrBE1Z49a0NduhuCI+ibUicOrWIldnpGplWkzlqkQXxDCEF74HE1ku+wc67As5kDVDDi8JBPl0wcZYw68vdr2GCkrPckoXiCRcDXlLSFWPEYP1/sQs3bfGIlrPIfzHg0XPdWo=
  gem: sensu-plugins-openvpn
  on:
    tags: true
    repo: sensu-plugins/sensu-plugins-openvpn
     all_branches: true
    rvm: 1.9.3
    rvm: 2.0
    rvm: 2.1
    rvm: 2.2

